<div class="inner panel settings">
  <div class="detail">
    <h2>Account Settings</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis erat eget mauris hendrerit hendrerit. Donec dictum tortor vel lectus ultricies semper.</p>
    <ul>
      <li>Lorem ipsum dolor sit a</li>
      <li>consectetur adipiscing</li>
      <li> Donec quis erat eget mauri</li>
      <li> illa. Etiam blandit elit ut n</li>
      <li>  tellus, sit amet laoreet nisl.</li>
    </ul>

    <a href="https://manage.stripe.com/account" target="_blank" class="stripe-connect"><span>Gotcha, take me to Stripe</span></a>
  </div>
</div>