<div class="inner panel settings">
  <div class="detail">
    <h2>Account Settings</h2>
    <p>Membr does not store your personal information such as bank account info, credit cards, or Stripe credentials.  If you want to manage your Stripe account settings, your Stripe Dashboard allows you to:</p>
    <ul>
      <li>Update bank information</li>
      <li>Update general account settings like email and password</li>
      <li>Update business information</li>
      <li>Export Data to Quickbooks</li>
      <li>View your earnings in a graphical format</li>
    </ul>

    <a href="https://manage.stripe.com/account" target="_blank" class="stripe-connect"><span>Gotcha, take me to Stripe</span></a>

    <p>If you have any concerns, please refer to our <%= link_to "FAQ", faq_path %> or feel feel to contact us at <a href="mailto:support@getmembr.com">support@getmembr.com</a></p>
  </div>
</div>