<div class="inner panel help-tab">
  <div class="detail">
    <h2>Help</h2>

    <h3>How do I create membership plans?</h3>

    <p>
      Simply click on the “Membership” tab and then click on the blue button that says “New Membership Plan”. Type in the name of your new membership plan, select either “Public” or “Invite Only”, set up the frequency of recurring payment, and then enter the fee. Once you are done, click “Create”.
    </p>

    <h3>What’s the difference between “Public” and “Invite Only” membership plans?</h3>

    <p>
      Public membership plans will be visible to those who have access to your public invite link. Invite Only membership plans will be hidden from the public link, and your members can only access it if you send out an invite via the “Invite Someone” button.
    </p>

    <h3>I collect payments bi-weekly. Is it possible to set up recurring payment for every two weeks?</h3>

    <p>
      Unfortunately, the only options for our membership plans are annually, quarterly, monthly, or weekly. We would recommend that you select the monthly option.
    </p>

    <h3>How do I edit my membership plans?</h3>

    <p>
      Simply click on the setting, and you will be able to change the name of your membership, public access or delete the membership.
    </p>

    <h3>Can I change the amount charged for my membership plan?</h3>

    <p>
      The easiest way to change the amount charged for your membership plan is to delete it and create a new one. This is to ensure that your billing cycle doesn’t get messed up.
    </p>

      <p>
      <h3>How do I onboard new members?</h3>

      <p>
        Copy and paste the public link from your Membr dashboard and send it out to your new members. Alternatively, you can invite them by using the “Invite Someone” button if it’s an Invite Only membership plan. Your new members will have to click on the link to go to a signup form where they can fill in their personal information and credit card information.
      </p>

      <h3>How do I onboard existing members?</h3>

      <p>
        Click on the “Import” tab. Upload a CSV file that has your members’ emails in the left column and their respective membership plan type in the right column. All your existing members will then receive an email prompting them to fill out the rest of their personal information and set up their payment.
      </p>

      <h3>How do I sort my members by name, email, status, etc.?</h3>

      <p>
        Simply go to the “Current Members” tab and click on the column label.
      </p>

      <h3>How do I export my member list to a CSV file?</h3>

      <p>
        We are working on implementing that feature. In the meantime, you can easily copy and paste your member database to a spreadsheet.
      </p>

      <h3>How do I change a member’s information?</h3>

      <p>
        Click on the member’s name on the dashboard and then click “edit details”. You will be able to change their personal information.
      </p>

      <h3>How do I update a member’s credit card information?</h3>
      <p>
        Credit cards expire, we get it. Simply click on the member’s name and then click on “send payment update email”. The member will receive instructions on how to update their credit card information.
      </p>

      <h3>How do I keep inactive members’ information in the database?</h3>

      <p>
        Any inactive members will automatically go into the “Inactive Members” tab. An inactive member is either no longer with your organization, or his or her credit card has expired.
      </p>

      <h3>How do I reactivate my inactive members?</h3>

      <p>
        Go into the “Inactive Members” tab and click on the member’s name. You can then reactivate this member by clicking on the membership plan that the member would like to change to.
      </p>

      <h3>How do I view the transaction history of my members?</h3>

      <p>
        Click on a member’s name to view his or her transaction history. If you wish to view all the transactions of all your members, simply click on the “Transaction” tab.
      </p>

      <h3>What are Stripe fees?</h3>

      <p>
        Membr is integrated with Stripe, the world’s most reliable and secure payment system. It is incredibly easy to accept payments online with Stripe. Stripe charges 2.9% and $0.30 cents per transaction, which is the industry standard for online payment services.
      </p>

      <h3>How do I edit my account information?</h3>

      <p>
        Go to the Account Settings tab and click on the button that will take you to your Stripe Account dashboard.  Membr does not store your personal information in order to keep it secure.
      </p>
  </div>
</div>