<div class="inner panel members">
  <div class="detail">
    <h2>all dat members</h2>

    <table id="members">
      <thead>
        <tr>
          <th>Membership</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Joined</th>
          <th>Payment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="m in members">
          <td>{{ m.membership }}</td>
          <td>{{ m.full_name }}</td>
          <td>{{ m.email }}</td>
          <td>{{ m.phone }}</td>
          <td>{{ m.joined }}</td>
          <td>{{ m.payment }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>