<div class="inner panel members">
  <div class="detail">
    <h2>You have {{ members.length }} members</h2>

    <p>The public URL link will allow anyone to join your public memberships.  If you would like to invite someone to a private membership, use the "Invite Someone" button.</p>

    <div class="public-link">
      <div>Public URL</div>
      <input type="text" value=<%= request.protocol + request.host_with_port + invite_path(current_user.id) %> readonly>
    </div>
    <button class="btn" ng-click="openInvite()" ng-show="memberships.length > 0">Invite someone</button> <span class="invite-sent" ng-class="inviteSentClass">Invite sent!</span>

    <table id="members">
      <thead>
        <tr>
          <th>Membership</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Joined</th>
          <th>Payment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="m in members">
          <td>{{ m.membership }}</td>
          <td>{{ m.full_name }}</td>
          <td>{{ m.email }}</td>
          <td>{{ m.phone }}</td>
          <td>{{ m.joined }}</td>
          <td>{{ m.payment && "Paid" || "Not Paid"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="invite" ng-show="inviteWrapOpen">
  <div class="wash"></div>
  <div class="form-wrap" ng-form="inviteForm">
    <h2>Invite someone new</h2>
    <label for="invite-email">Email</label>
    <input type="email" ng-model="invite.email" id="invite-email" required>
    <label for="invite-membership">Invite for</label>
    <select id="invite-membership" ng-model="invite.membership_id" ng-options="m.id as m.name for m in memberships">
    </select>
    <div class="submits">
      <button class="btn-secondary" ng-click="inviteWrapOpen = false">Cancel</button>
      <button class="btn" ng-disabled="inviteForm.$invalid || sendingInvite" ng-click="sendInvite(invite)">Send Invite</button> <%= image_tag "ajax-loader.gif", "ng-show" => "sendingInvite" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#invite-membership").customSelect();
</script>