<div class=  "inner memberships">
  <% if @m.length == 0 %>
    <h2>Create a new membership plan</h2>
  <% end %>
  <button class="btn">New Membership Plan</button>
  <% @m.each do |m| %>
    haro
  <% end %>
</div>