<div class="container about terms">
  <h2>About</h2>

  <p>
    Membr is the easiest and fastest way to help you onboard new members for your clubs, nonprofit organizations or member-driven associations. We make payments so simple that you will never have to collect overdues again.
  </p>

  <p>
    Membr is created by <a href="http://emberyl.com/">Emberyl Creative</a>, a Vancouver-based innovation lab that has a track record of building sophisticated products and successful tech startups. Emberyl’s last startup, <a href="http://weeve.it/">Weeve.it</a>, is world’s first free crowdfunding platform for nonprofits and it was acquired by public company, <a href="http://www.lxventures.com/s/Home.asp">LX Ventures</a> (TSX.V:LXV) in February 2013.
  </p>

  <p>
    Membr is the most intuitive, simple and secured membership management solution on the planet. Try Membr; it’s free.
  </p>

  <p class="conversion">
    <%= link_to "TRY MEMBR", root_url, :class => "btn" %> <span>FREE</span>
  </p>
</div>
