<div class="container terms">
  <h2>FAQ</h2>

  <h3>What is Membr?</h3>

  <p>
    Membr is the easiest and fastest way to help you onboard new members. We make payments so simple that you will never have to collect overdues again. All your members would need is a credit card.
  </p>
</div>
