<div class="container terms">
  <h2>FAQ</h2>

  <h3>What is Membr?</h3>

  <p>
    Membr is the easiest and fastest way to help you onboard new members. We make payments so simple that you will never have to collect overdues again. All your members would need is a credit card.
  </p>

  <h3>Who is Membr for?</h3>

  <p>
    Student clubs, nonprofit organizations, societies, professional associations, clubs and any other member-driven organizations.
  </p>

  <h3>Who is behind Membr?</h3>

  <p>
    Vincent Chu and Alex Chuang are serial entrepreneurs with a track record of building sophisticated products and successful tech startups. Their first startup, Weeve.it, was acquired by public company, LX Ventures (TSX.V: LXV) in February 2013.
  </p>

  <h3>Why did you create Membr?</h3>

  <p>
    Because every membership management tool out there doesn’t help you reduce your admin cost. They are built on technology from 20 years ago and they don’t understand what great user experience is. Most of the time they break so we understand your frustration.
  </p>

  <h3>Does Membr do Event Management?</h3>

  <p>
    No. There are tools out there like Eventbrite or Picatic that are much suited for that. Membr focuses on two things: getting you paid and making your life easier.
  </p>

  <h3>Does Membr do Event Management?</h3>

  <p>
    Yes, it is absolutely free to use. We want to thank our early adopters so during our beta period, Membr is absolutely free of charge.
  </p>

  <h2>Using Membr</h2>

  <h3>How do I sign up?</h3>

  <p>
    <ul>
      <li>Click “Request Invite” on our landing page and fill out the form. We will send you a private link to invite you onto our beta platform</li>
      <li>Once you have enter all your information, you will be able to access Membr</li>
    </ul>
  </p>

  <h3>How do I create new membership plan?</h3>

  <p>
    <ul>
      <li>The first thing you need to do is to create new membership plan(s) for your organization</li>
      <li>Once you have created your membership plan(s), you will be able to onboard your new or existing members</li>
    </ul>
  </p>

  <h3>How do I onboard existing or new members?</h3>

  <p>
    <ul>
      <li>Copy and paste the public link and send it out to all your members. Once they click on the link, they will be directed to a signup page where they can choose which membership plan they want to subscribe to. All they need to do is to fill out the form with personal information and enter their credit card information.</li>
      <li>Alternatively, you can import your existing membership csv list with your members’ emails in the first column and the type of membership plan in the second column. The system will send out a public invite link to all your members so they can onboard themselves. It’s that simple.</li>
    </ul>
  </p>

  <h3>How do I track my members’ payments and transactions?</h3>

  <p>
    <ul>
      <li>Your members will be on a recurring payment plan when they sign up, whether it’s annually, quarterly, monthly or weekly. The system is smart enough to collect payments on time when their payments are due. </li>
      <li>If your member has an expired credit card information, his or her membership will expire automatically unless they update their credit card information. You may send out a reminder by clicking on the member’s name and clicking on “send payment update email”</li>
      <li>All transactions are recorded in the transaction tab</li>
      <li>Individual transaction history can be viewed by simply clicking on the member’s name</li>
    </ul>
  </p>

  <h3>How do I get paid?</h3>

  <p>
    <ul>
      <li>Membr collects your membership fees on behalf of you. Membr will then mail you a cheque within 7 days after your membership fees have been collected. </li>
    </ul>
  </p>
</div>
