<div class="container terms">
  <h2>FAQ</h2>

  <h3>What is Membr?</h3>

  <p>
    Membr is the easiest and fastest way to onboard new members. We make payments so simple that you will never have to collect overdues again. All your members need is a credit card.
  </p>

  <h3>Who is Membr for?</h3>

  <p>
    Student clubs, nonprofit organizations, societies, professional associations, clubs, and any other member-driven organizations.
  </p>

  <h3>Who is behind Membr?</h3>

  <p><a href="https://twitter.com/soulinas"> Vincent Chu</a> and <a href="https://twitter.com/alexchuang72"> Alex Chuang</a>  are serial entrepreneurs with a track record of building sophisticated products and successful tech startups. Their first startup, Weeve.it, was acquired by a public company, LX Ventures (TSX.V: LXV), in February 2013. To see their portfolio projects, please visit <a href="https://www.emberyl.com"> www.emberyl.com</a></p>

  <h3>Why did you create Membr?</h3>

  <p>
    Because no membership management tool out there helps you reduce your admin cost. The current options are built on technology from 20 years ago, and they don’t understand what great user experience is. Most of the time, they break; so we understand your frustration.
  </p>

  <h3>Does Membr do event management?</h3>

  <p>
    No. There are tools out there like Eventbrite or Picatic that are much better suited for that. Membr focuses on two things: getting you paid and making your life easier.
  </p>

  <h3>Is Membr really free to use?</h3>

  <p>
    Yes, it is absolutely free to use during our beta period. We will roll out a free plan for your first 20 members and a tiered subscription plan after our beta. Our service will be offered at industry’s lowest pricing point.
  </p>

  <h3>Why choose Stripe as your payment processor?</h3>

  <p>
    <a href="https://stripe.com"> Stripe </a> is the easiest way to accept credit and debit card payments online. PayPal is difficult to use, and other online solutions are not even on par with what Stripe delivers. Stripe is trusted by thousands of websites and e-commerce platforms. Mashable, Shopify, Foursquare, Udemy, and thousands of other global and fast-growing startups all choose Stripe because of its simplicity, security, and functionality. To see a list of Stripe’s customers, click this link: <a href="https://stripe.com/gallery "> https://stripe.com/gallery  </a>
  </p>

  <h3>Is my personal and business information safe with Stripe?</h3>

  <p>
    Absolutely. Stripe meets or exceeds the most stringent industry standards: each piece of their infrastructure and each stage of their operations are designed with security in mind. To learn more about the technical details of Stripe’s security system, read <a href="https://stripe.com/help/security">Stripe's security policies</a>.
  </p>

  <h3>How do I get paid?</h3>

  <p>
    Stripe will pay you for charges on a seven-day rolling basis. For example, if you made charges on March 1st, then you will receive those funds on March 8th. To learn more, please click on this link: <a href="https://stripe.com/help/transfers">https://stripe.com/help/transfers</a>
  </p>

</div>
