<div class="container terms">
  <h2>Terms of Service</h2>

  <p>
    Welcome to Membr! Membr is a member management solution that allows member-driven associations to easily manage their members’ information and payment. The website and its services at <a href="http://getmembr.com/">www.getmembr.com</a> (“website” or “site”) are provided by <a href="http://emberyl.com/">Emberyl Creative Inc</a> (“Emberyl”, or “Membr” or “We” or “Company”). Before using services (“Service”) provided by  Emberyl Creative Inc , please read these terms of use (“Agreement” or “Terms of Use”) carefully. By using the website, you (“users” or “you”) agree to these terms of use, and the privacy policy.
  </p>

  <h3>Modification of Terms</h3>

  <p>
    Membr reserves the right to modify or replace any Terms of Use at any time without notice. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the services provided by Membr following implementation of any changes or policies,to the Terms of Use constitutes acceptance of such change or privacy. If in any case you do not agree to any revised version of the Terms of Use, please do not use this site.
  </p>

  <h3>Modification of Terms</h3>

  <p>
    To use Membr’s services, you are required to connect with <a href="https://stripe.com/ca">Stripe</a>. Stripe is the easiest way to accept credit and debit card payments online. In order to use Membr’s services you are required by Stripe to enter your personal information, including name, phone number, email, address, company name, SIN, bank transit number and business number. Stripe meets or exceeds the most stringent industry standards: each piece of their infrastructure and each stage of their operations are designed with security in mind. To learn more about the technical details of Stripe’s security system, please click <a href="https://stripe.com/help/security">here</a>. You are required to provide accurate, complete and updated registration information. Failure to do so shall constitute a breach of the Terms of Use, which may result in immediate termination of your Membr account. With the intent to impersonate another person, your Membr account will also be terminated immediately. Membr reserves the right to reject, terminate, remove user accounts in our sole discretion without notices. You are solely responsible for your password, and account activities. You should never use another person’s account without the person’s permission. You are responsible to notify Stripe immediately at <a href="mailto:security@stripe.com">security@stripe.com</a>  if you suspect unauthorized use of your account or other security breach issues.
  </p>

  <h3>Commerce</h3>

  <p>
    Membr is integrated with Stripe to facilitate the payment processing. By agreeing to Membr’s Terms of Service, you have also agreed to Stripe’s Terms of Service which can be found here: <a href="https://stripe.com/ca/terms">https://stripe.com/ca/terms</a>. Membr is not responsible for any damage or loss incurred as a result of transactions facilitated by Stripe. In any event where a transaction has failed, please contact Stripe to resolve it.  In no event should Membr become involved with any disputes between you, your members or other users. In the event of dispute, you release Emberyl Creative Inc,  its officers, employees, shareholders, directors, agents, independent contractors, interns, and successors in rights from claims, damages and demands of every kind, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and our service. Membr makes no guarantees regarding the performance or fairness of Stripe. Membr is not responsible for issuing refunds for funds that have been collected by you. Membr reserves the right to cancel, interrupt or suspend your account at any time for any reason.
  </p>

  <h3>Membership Fees</h3>

  <p>
    Membership fees are collected by Stripe on behalf of Membr and the money is held by Stripe for 7 days before it gets deposited into your bank account. When your members pay for their membership, the money goes to Membr first and then is paid out to you at no additional transaction fee. You are responsible for paying all the fees, and applicable taxes associated with Stripe. Membr is independent from Stripe and by accepting our terms, you have also acknowledged Stripe’s Terms of Use: <a href="https://stripe.com/ca/terms">https://stripe.com/ca/terms</a>
  </p>

  <h3>Refunds</h3>

  <p>
    If your member has requested a refund, he or she must comply to your refund policy. Membr is not associated with any member-driven organizations who use our tool. By agreeing to the Terms, you acknowledge that Membr shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with you and your organizations. You can easily process refunds via your Stripe dashboard. For more information, please visit <a href="https://support.stripe.com">https://support.stripe.com</a>
  </p>

  <h3>Copyright and Licenses</h3>

  <p>
    The entire contents of the Site are protected by international copyright and trademark laws. The owner of the copyrights and trademarks are Membr, its affiliates or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Site solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials. You agree to grant to Membr a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any materials and other information (including, without limitation, ideas contained therein for new or improved products and services) you submit to any public areas of the Site (such as bulletin boards, forums and newsgroups) or by e-mail to Membr by all means and in any media now known or hereafter developed. You also grant to Membr the right to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against Membr for any alleged or actual infringement or misappropriation of any proprietary right in your communications to Membr.
  </p>

  <h3>Termination</h3>

  <p>
    Membr may terminate your access to our services immediately at any time with or without reasons, cause, or notice. This may result in forfeiture and destruction of all information associated with your membership. If you wish to terminate your account, please send a request to <a href="info@getmembr.com">info@getmembr.com</a>. All provisions of the Terms of Use which by their nature shall survive termination, including, but not limited to, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
  </p>

  <h3>Miscellaneous</h3>

  <p>
    This Agreement shall all be governed and construed in accordance with the laws of Canada applicable to agreements made and to be performed in Canada. You agree that any legal action or proceeding between Membr and you for any purpose concerning this Agreement or the parties' obligations hereunder shall be brought exclusively in a federal or state court of competent jurisdiction sitting in British Columbia . Any cause of action or claim you may have with respect to the Service must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred. Membr’s failure to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of this Agreement. Membr may assign its rights and duties under this Agreement to any party at any time without notice to you.
  </p>

  <h2>Privacy Policy</h2>

  <h3>Membr respects your privacy</h3>

  <p>
    Any personal information you provide to us including and similar to your name, address, telephone number and e-mail address will not be released, sold, or rented to any entities or individuals outside of Membr.
  </p>

  <h3>Credit Card Details</h3>

  <p>
    <a href="https://stripe.com/ca">Stripe</a> processes all the transactions on Membr and the transaction is encrypted using SSL technology. Membr does not hold any credit card information. Data handled by Stripe is subject to their <a href="https://stripe.com/ca/terms">terms of service</a> and <a href="https://stripe.com/ca/privacy">privacy policy</a>.
  </p>

  <h3>External Sites</h3>

  <p>
    Membr is not responsible for the content of external internet sites. You are advised to read the privacy policy of external sites before disclosing any personal information.
  </p>

  <h3>Information Collection</h3>

  <p>
    Traffic Data: Membr collects traffic data when you visit our site and this includes your ip addresses, domain servers, web browsers used to access the site, and referring/exit pages. This is anonymous information and the sole purpose of us collecting this information is to improve the business and the user experience.
  </p>

  <p>
    Personal Information: In order for you to use Membr, you have to register with the Site. We will ask for your e-mail, name, company, job title, phone number and address.
  </p>

  <h3>Cookies</h3>

  <p>
    A "cookie" is a small data text file that is placed in your browser and allows Membr to recognize you each time you visit this site(customisation etc). Cookies themselves do not contain any personal information, and Membr does not use cookies to collect personal information. Cookies may also be used by 3rd party content providers such as newsfeeds.
  </p>

  <h3>Remember The Risks Whenever You Use The Internet</h3>

  <p>
    While we do our best to protect your personal information, we cannot guarantee the security of any information that you transmit to Membr and you are solely responsible for maintaining the secrecy of any passwords or other account information. In addition, other Internet sites or services that may be accessible through Membr have separate data and privacy practices independent of us, and therefore we disclaim any responsibility or liability for their policies or actions. Please contact those vendors and others directly if you have any questions about their privacy policies.
  </p>

  <p>
    For any other information, please contact us at <a href="info@getmembr.com">info@getmembr.com</a>.
  </p>


</div>