<div class="container terms">
  <h2>Terms of Service</h2>

  <p>
    Welcome to Membr! Membr is a member management solution that allows member-driven associations to easily manage their members’ information and payment. The website and its services at <a href="http://getmembr.com/">www.getmembr.com</a> (“website” or “site”) are provided by <a href="http://emberyl.com/">Emberyl Creative Inc</a> (“Emberyl”, or “Membr” or “We” or “Company”). Before using services (“Service”) provided by  Emberyl Creative Inc , please read these terms of use (“Agreement” or “Terms of Use”) carefully. By using the website, you (“users” or “you”) agree to these terms of use, and the privacy policy.
  </p>

  <h3>Modification of Terms</h3>

  <p>
    Membr reserves the right to modify or replace any Terms of Use at any time without notice. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the services provided by Membr following implementation of any changes or policies,to the Terms of Use constitutes acceptance of such change or privacy. If in any case you do not agree to any revised version of the Terms of Use, please do not use this site.
  </p>


</div>