/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

@include font-face("ProximaNovaLight", font-files("ProximaNova-Light.otf"));
@include font-face("ProximaNovaSemiBold", font-files("ProximaNova-Semibold.otf"));
@include font-face("ProximaNovaRegular", font-files("ProximaNova-Regular.otf"));

$p: #57c2ff;
$pd: #4597ca;
$pl: #68caff;
$bg: #f9f9f9;
$error: #ff5757;
$success: #71dd51;

@mixin font-regular {
  font-family: "ProximaNovaRegular";
}

@mixin font-light {
  font-family: "ProximaNovaLight";
}

@mixin font-semibold {
  font-family: "ProximaNovaSemiBold";
}

@mixin shadow {
  @include text-shadow(0 2px 0 white);
}

@mixin full-page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@mixin wash($color, $opacity:0.9) {
  @include full-page;
  background-color: $color;
  opacity: $opacity;
}

.bold {
  font-weight: bold;
  color: #555;
}

p {
  @include font-light;
  line-height: 1.7em;
  color: #777;
}

a {
  color: #777;
  @include font-light;
  text-decoration: none;
  font-size: 14px;
  &:visited {
    color: #777;
    text-decoration: none;
  }
  &:hover {
    cursor: pointer;
    color: #333;
  }
}

label {
  @include font-light;
}

input[type="text"], input[type="number"], input[type="email"], .customSelect, select, input[type="password"] {
  outline: none;
  padding: 9px 11px;
  border: 1px solid #ccc;
  @include font-light;
  font-size: 16px;
  color: #555;
  &:hover {
    cursor: pointer;
    border: 1px solid #999;
  }
  &:focus {
    border: 1px solid #999;
    @include box-shadow(inset 0 3px 0 rgba(0, 0, 0, .1));
  }
  &.ng-dirty.ng-invalid {
    border-color: #ff7b68;
  }
}

button, input[type="submit"] {
  @include font-regular;
  @include inline-block;
  padding: 8px 15px;
  color: #444;
  font-size: 16px;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
  &:active {
    @include box-shadow(inset 0 3px 0 rgba(0, 0, 0, .1));
    padding: 10px 15px 6px;
  }
}

table {
  margin-top: 50px;
  background-color: #f6f6f6;
  width: 100%;
  tr {
    width: 100%;
    &:nth-child(2n) td {
      background-color: white;
    }
    &:hover td {
      background-color: #e6e6e6;
    }
    th {
      font-weight: bold;
      @include font-semibold;
      background-color: #444;
      color: #eee;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 15px;
      font-size: 14px;
      @include font-light;
      &.header {
        height: auto;
        background-image: url("unsort.png");
        background-repeat: no-repeat;
        background-position: right 10px center;
        &:hover {
          background-color: #555;
          cursor: pointer;
        }
        &.headerSortDown {
          background-image: url("ascend.png");
        }
        &.headerSortUp {
          background-image: url("descend.png");
        }
      }
    }
  }
}

.flat-btn {
  border: none;
  background-color: $p;
  @include font-light;
  &:hover {
    background-color: $pl;
  }
  &:active {
    background-color: $pl;
  }
  &:disabled {
    opacity: 0.5;
    &:hover, &:active {
      cursor: default;
      background-color: $p;
    }
  }
}

.btn {
  border: 1px solid $pd;
  background-color: $p;
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .3));
  &:hover {
    background-color: $pl;
  }
  &:active {
    background-color: $pl;
  }
  &:disabled {
    opacity: 0.5;
    &:hover, &:active {
      cursor: default;
      background-color: $p;
      @include box-shadow(none);
      padding: 8px 15px;
    }
  }
}

.btn-secondary {
  border: 1px solid #ccc;
  background-color: #fafafa;
  &:hover, &:active {
    border: 1px solid #bbb;
  }
}

.cancel {
  @include inline-block;
  @include font-light;
  color: $error;
  padding: 9px 15px;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $error;
  }
  &:active {
    border: none;
    padding: 9px 15px;
    color: white;
    background-color: $error;
  }
  &:disabled {
    opacity: 0.8;
    background-color: $error;
    color: white;
    &:hover, &:active {
      cursor: default;
      background-color: $error;
      @include box-shadow(none);
    }
  }
}

body {
  @include font-regular;
  color: #666;
  background-color: $bg;
  position: relative;
}

.container {
  width: 900px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #333;
  @include font-semibold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

.home {

}

.nav-panel {
  background-color: #191919;
  float: left;
  width: 16%;
  height: 100%;
  .nav-item {
    @include font-light;
    padding: 25px 35px;
    &.active {
      color: white;
      background: url('nav-arrow.png');
      background-repeat: no-repeat;
      background-position: right center;
    }
    &:hover {
      background-color: #444;
      cursor: pointer;
      color: white;
    }
  }
}

.content {
  height: 100%;
  min-width: 800px;
  overflow: auto;
  .inner {
    display: none;
    .detail {
      margin-left: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      &>h2 {
        margin-bottom: 20px;
      }
    }
    .hidden-wrap {
      height: 0px;
      overflow: hidden;
      opacity: 0;
      @include transition-property(height, opacity);
      @include transition-duration(0.3s);
      &.opened {
        height: 480px;
        opacity: 1;
      }
    }
    p {
      max-width: 550px;
    }
  }
}

.hidden-form, .member-form{
  background-image: url("cream_pixels.png");
  background-color: #aaa;
  padding: 50px 120px;
  border-bottom: 1px solid #ddd;
  h2 {
    margin-bottom: 40px;
  }
  .input-wrap {
    margin-bottom: 30px;
    font-size: 16px;
    color: #444;
    @include font-light;
    label:first-child {
      width: 90px;
      @include inline-block;
      color: #111;
    }
    input[type="text"], input[type="number"] {
      width: 400px;
      &.fee {
        width: 80px;
      }
    }
    input[type="radio"] {
      display: none;
    }
  }
  .fee-span {
    background-color: #f6f6f6;
    @include inline-block;
    position: relative;
    bottom: 1px;
    padding: 9px 15px;
    border: 1px solid #ccc;
    border-right: none;
  }
  .submits {
    display: table;
    margin-top: 40px;
    button {
      float: left;
      margin-right: 7px;
      width: 100px;
      font-size: 14px;
    }
    img {
      height: 25px;
      position: relative;
      left: 3px;
      top: 5px;
    }
  }
}

.radio-wrap {
  @include inline-block;
  label {
    float: left;
    background-color: white;
    border: 1px solid #ccc;
    border-right: 0;
    padding: 8px 15px;
    text-align: center;
    color: #555;
    &:last-child {
      border-right: 1px solid #ccc;
    }
    &:hover {
      border: 1px solid #999;
      margin-right: -1px;
      position: relative;
      cursor: pointer;
    }
    &:active {
      @include box-shadow(inset 0 3px 0 rgba(0, 0, 0, .1));
      padding: 10px 15px 6px;
    }
  }
  input {
    &:checked+label {
      @include box-shadow(inset 0 3px 0 rgba(0, 0, 0, .1));
      background-color: #e6e6e6;
      border: 1px solid #999;
      margin-right: -1px;
      position: relative;
      padding: 10px 15px 6px;
    }
  }
}

.header {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #ddd;
  .right-links {
    float: right;
    line-height: 40px;
    a {
      margin-right: 20px;
    }
  }
}

.new-membership-plan {
  margin-bottom: 30px;
}

.membership {
  display: table;
  width: 600px;
  border-bottom: 1px dashed #ccc;
  padding: 50px 30px;
  position: relative;
  @include transition-property(opacity);
  @include transition-duration(0.3s);
  .settings {
    font-size: 14px;
    margin: 0;
    img {
      position: relative;
      top: 2px;
      height: 13px;
      opacity: 0.5;
    }
  }
  &:hover {
    border-bottom: 1px solid #aaa !important;
    border-top: 1px solid #aaa;
    margin-bottom: -1px;
    position: relative;
    bottom: 1px;
  }
  &:last-child {
    border-bottom: none;
  }
  p {
    @include font-light;
    margin-top: 8px;
  }
  .details {
    display: table;
    width: 100%;
    .left {
      float: left;
      h2 {
        margin-bottom: 10px;
      }
    }
    .right {
      float: right;
      text-align: right;
      .fee {
        margin-bottom: 10px;
      }
    }
  }
  .member-form {
    background: none;
    padding: 0;
    margin-top: 30px;
    border-bottom: none;
  }
}

.membership-edit {
  display: none;
}

.inactiveMembers {
  padding-right: 30px;
  .memberRow {
    cursor: pointer;
  }
}

.members {
  padding-right: 30px;
  p {
    width: 550px;
    &.member-help {
      margin-bottom: 20px;
    }
  }
  .public-link {
    display: table;
    @include font-light;
    margin: 20px 0;
    div {
      float: left;
      padding: 10px 15px;
      &:first-child {
        background-color: #555;
        color: white;
        @include font-semibold;
        border-right: 1px solid #eee;
      }
    }
    input {
      position: relative;
      left: -2px;
      padding: 9px;
      float: left;
      margin: 0;
      width: 400px;
    }
  }
  .memberRow {
    cursor: pointer;
  }
}

.master-loader {
  @include full-page;
  z-index: 999;
  text-align: center;
  .wash {
    @include wash(white, 0.97);
  }
  .details {
    position: relative;
    top: 50%;
    margin-top: -9px;
    @include font-semibold;
    letter-spacing: 1px;
    color: #444;
    text-transform: uppercase;
    img {
      position: relative;
      top: 2px;
      height: 15px;
      margin-left: 10px;
    }
  }
}

.member-details {
  @include full-page;
  .full-content.detail-wrap {
    border-left: 1px solid #eee;
    margin-left: 25%;
    min-height: 400px;
  }
  .wash {
    @include wash(white, 0.97);
  }
  h2 {
    margin-left: 20px;
    margin-bottom: 40px;
  }
  .invoice-loader {
    @include font-light;
    line-height: 20px;
    margin-top: 40px;
    font-size: 14px;
    color: #888;
    margin-left: 20px;
    img {
      position: relative;
      top: 5px;
      height: 20px;
      margin-right: 3px;
    }
  }
  .invoices {
    margin-top: 40px;
    @include font-light;
    width: 550px;
    .invoice {
      padding: 20px;
      border-top: 1px dashed #ddd;
      display: table;
      width: 100%;
      .invoice-text {
        float: left;
        span {
          font-size: 14px;
          color: #999;
          @include inline-block;
          margin-top: 5px;
        }
      }
      .invoice-paid {
        float: right;
        &.paid {
          color: $success;
        }
        &.not-paid {
          color: $error;
        }
      }
      &:last-child {
        border-bottom: 1px dashed #ddd;
      }
    }
  }
  .cancel-member {
    margin-top: 30px;
    img {
      height: 21px;
      position: relative;
      top: 7px;
      left: 5px;
    }
  }
  .change-member {
    @include font-light;
    margin-left: 20px;
    span {
      margin-right: 5px;
    }
    .customSelect {
      min-width: 250px;
    }
    .flat-btn {
      position: relative;
      right: 5px;
      bottom: 1px;
      height: 36px;
      padding: 10px 15px;
    }
    img {
      height: 23px;
      position: relative;
      top: 6px;
      left: 1px;
    }
  }
  .side-links {
    position: absolute;
    left: -115px;
    padding-right: 20px;
    height: 150px;
    .link-wrap {
      &.cancel-link a {
        color: $error;
        &:hover {
          text-decoration: underline;
        }
      }
      margin-bottom: 20px;
      text-align: right;
      img {
        position: absolute;
        left: -20px;
        height: 15px;
      }
      a {
        position: relative;
        line-height: 1.4em;
      }
    }
  }
}

.invite {
  @include full-page;
  .wash {
    @include wash(white, 0.97);
  }
  &>div {
    position: relative;
  }
  .form-wrap {
    margin-left: 18%;
    position: relative;
    top: 20%;
    h2 {
      margin-bottom: 50px;
    }
    label {
      display: block;
      @include font-light;
      margin: 20px 0 13px;
    }
    .customSelect, input {
      width: 300px;
    }
    .submits {
      margin-top: 30px;
      button {
        margin-right: 3px;
      }
      img {
        height: 21px;
        position: relative;
        top: 7px;
        left: 2px;
      }
    }
  }
}

.customSelect.customSelectHover {
  cursor: pointer;
  border: 1px solid #999;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.join {
  margin-top: 100px;
  position: relative;
  h1 {
    line-height: 90px;
    @include shadow;
  }
  .fee {
    position: absolute;
    right: 0;
    top: 0;
    @include font-light;
    @include shadow;
    .amount {
      font-size: 70px;
      position: relative;
      @include font-regular;
      color: #333;
      .dollar-sign {
        font-size: 15px;
        position: absolute;
        top: 8px;
        left: -13px;
        @include font-light;
      }
    }
  }
  p {
    width: 80%;
  }
  .invite-wrap {
    margin-bottom: 100px;
    label {
      display: block;
      margin: 20px 0 8px;
    }
    input[type="text"] {
      margin: 0;
      width: 350px;
    }
    .personal-info, .billing {
      h3 {
        margin-top: 40px;
        margin-bottom: 20px;
      }
      input {
        display: block;
        margin: 10px 0;
      }
    }
    .btn {
      margin-top: 20px;
    }
  }
  .errorExplanation {
    border: 1px dashed #aaa;
    padding: 30px;
    margin-top: 30px;
    background-color: white;
    h2 {
      color: $error;
      margin-bottom: 15px;
    }
    li {
      @include font-light;
      margin: 10px 0;
    }
  }
  .stripe-button-el {
    &:active {
      padding: 0;
      span {
        border: 1px solid #008cdd;
      }
    }
  }
  .which-member {
    margin-bottom: 10px;
  }
  .customSelect {
    background-color: white;
    width: 350px;
  }
}

.full-pager {
  @include full-page;
  &>div  {
    position: relative;
  }
  .full-content {
    margin-left: 18%;
    position: relative;
    top: 20%;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.6;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.message-wrap {
  @include full-page;
  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    width: 400px;
    h2.error {
      color: $error;
      margin-bottom: 15px;
    }
    h2.success {
      color: $success;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 10px;
    }
  }
}

.stripe {
  position: relative;
  top: 9px;
  left: 5px;
}

.import {
  p {
    width: 500px;
  }
  input[type="file"] {
    @include font-light;
    margin: 0;
    margin-top: 20px;
  }
  .bulk-success {
    opacity: 0;
    @include font-light;
    @include transition-property(opacity);
    @include transition-duration(0.3s);
    &.show {
      opacity: 1
    }
  }
  table {
    margin: 20px 0;
    width: auto;
    td, th {
      font-size: 15px;
      @include font-light;
      font-weight: normal;
      color: #666;
      min-width: 200px;
      background-color: white;
    }
    tr {
      &:hover td {
        background-color: white;
      }
    }
  }
  .section {
    margin-top: 100px;
    h2 {
      margin-bottom: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.sing-up {
  margin-top: 100px;
  margin-bottom: 100px;
  h2 {
    margin-bottom: 40px;
  }
  form {
    input {
      margin: 0;
    }
    label:first-child {
      margin-left: 5px;
      display: block;
      margin-bottom: 10px;
      margin-top: 20px;
      @include font-light;
    }
    .password {
      input {
        display: block;
        margin-bottom: 5px;
      }
      input:last-child {
        margin-bottom: 0;
      }
    }
    .submit {
      margin-top: 30px;
    }
  }
  a {
    display: block;
    margin-top: 15px;
  }
  .tos {
    margin-top: 20px;
    label:first-child {
      margin: 0;
      margin-left: 5px;
    }
    .field_with_errors {
      @include inline-block;
    }
  }
  input.cancel {
    display: block;
    font-size: 14px;
    margin-top: 15px;
    color: $error;
    background-color: transparent;
    padding: 0;
    border: none;
    @include font-light;
    &:hover {
      text-decoration: underline;
    }
  }
}

#error_explanation, .login-error {
  padding: 20px;
  background-color: white;
  border: 1px dashed #bbb;
  margin-bottom: 30px;
  @include font-light;
  h2 {
    margin-bottom: 20px;
    color: $error;
  }
  ul {
    li {
      @include font-light;
      font-size: 15px;
      margin-top: 7px;
    }
  }
}

.success-header {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  @include font-light;
  color: $success;
  @include transition-property(top);
  @include transition-duration(0.3s);
  &.enter {
     top: 0;
  }
}

.edit-member {
  .member-cancel {
    position: relative;
    top: 9px;
    left: 10px;
  }
  .errorExplanation {
    margin-bottom: 30px;
  }
}